<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">
		
	
	<bean class="gdcp.utils.SpringContextUtil" />
	<!-- 加载properties文件方式一 -->
	<!-- <context:property-placeholder location="classpath:config/syscfg.properties" 
		/> -->
	
	<!-- 加载properties文件方式二 -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:config/syscfg.properties</value>
				<value>classpath:config/mongojdbc.properties</value>
			</list>
		</property>
		<property name="fileEncoding" value="utf-8" />
	</bean>
	<!-- <bean id="propertyConfigurer" class="gdcp.utils.SysProperty"
		factory-method="getInstance">
		<property name="custLocations">
			<list>
				<value>classpath*:config/syscfg.properties</value>
			</list>
		</property>
		<property name="fileEncoding" value="UTF-8" />
	</bean> -->
	
	 <bean id="testApplicationListener" class="ssm.spring.TestApplicationListener"/>
	 
	 
</beans>